@charset "UTF-8";
@import "var.scss";

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    main[role='main']{ flex: 1 1 auto; padding-bottom: 30px; } 
}

/* > 480px */
@media (min-width: $screen-xs) {
    .jumbotron {
      padding: 2rem 0rem;
    }
}


/* > 768px */
@media screen and (min-width: $screen-sm-min) {
  .jumbotron {
    .display-4{ font-size: 2.5rem; }
  }
}


/* > 992px */
@media screen and (min-width: $screen-md) {
  .jumbotron {
    .display-4{ font-size: 3.5rem; }
  }
}