@charset "UTF-8";

/* mobil */
/* Blackberry: Curve 8530, Pearl Flip Android: Motorola Charm, Sony Ericsson Xperia X10 Mini, Symbian OS: Nokia E63, */
/* 320×240 && 320×480 */
$screen-mobil:              320px;

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// 1024
$screen-lg-small:             1024px;
$screen-lg-small-max:             ($screen-lg-small - 1);

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

//
$screen-lg-1280:  1280px;
$screen-lg-big:  1320px;

// So media queries don't overlap when required, provide a maximum
$screen-phone-max:           ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1); 

$font-color: #fff;
$background-color: #343a40;
$background-color-small: #f9f9f9;
$black-color:#7952b3;
$href-color: #007bff;
$href-color-hover: #007bff;

/* the fonts */
$ad-font-family: "PT Sans", Arial, Tahoma, Sans-Serif;
$ad-font-family-bold: "PT Sans Narrow", Arial, Tahoma, Sans-Serif;
$ad-font-family-narrow: "PT Sans Narrow", Arial, Tahoma, Sans-Serif;